body {
  background-color: #f0e9d9ff;

}

header {

  display: flex;
  margin: 8px 260px;
}

.navileiste {
  display: flex;
  padding-left: 90px;

  gap: 70px;
  width: 1905 px;
  height: 155, 54px;
  margin: 0px 70px;
  padding: 10px;
  /* display: flex; */
  /* justify-content: space-evenly; */
  /* align-items: center; */

}



.navi-right {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-left: 20px;
  width: 310 px;
  height: 155, 54px;
}

.navi-right a:hover {
  color: #e57f45;
  text-decoration: underline
}

.book_a_table {


  background-color: #008387;
  color: white;
  font-family: 'Bebas Neue';
  font-size: 20px;
  width: 147px;
  height: 52px;
  border-top-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border: none;

}

.book_a_table:hover {
  background-color: #187978;
  cursor: pointer;

}

a {
  position: relative;
  color: #015253ff;
  text-decoration: none;
  font-family: 'Bebas Neue';
  font-size: 20px;
  font-weight: lighter;
}

nav {

  display: flex;
  background-color: #f0e9d9ff;
  justify-content: center;
  align-items: center;
  padding-left: 80px;
  gap: 40px;

}

nav a {

  color: #015253ff;
  padding: 14px 16px;
  font-family: 'Bebas Neue';
  font-size: 20px;
  font-weight: lighter;
}

nav a:hover {

  color: #e57f45;
}

nav a::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 3px;
  left: -10px;
  top: 24px;
  background: #015253ff;
}

nav a:hover::before {
  background-color: #e57f45;
}

span {
  /* padding: 10px; */
}

.backgroundimg {
  padding-left: 5px;
  margin-top: 40px;

}


.intro {
  /* width: 2033px; */
  height: 740;
  margin-left: 357px;
  margin-top: -625px;
  display: flex;
  margin-right: auto;


}



.maintext {
  width: 630px;
  height: 277px;
  margin-top: 31px;
  /* display: flex; */


}

.maintext2 {
  width: 610px;
  height: 102px;
}


.maintext3 {
  width: 610px;
  height: 93, 33px;

}

.headline {

  font-family: 'Yeseva One', serif;
  font-size: 70px;
  font-weight: 300;
  color: #015253ff
}

h2 {
  font-family: 'Yeseva One', serif;
  font-size: 60px;
  font-weight: 300;
  color: #015253ff
}

h5 {
  color: #6f695d;
  font-size: 24px;
}

.sushipic {
  width: 586x;
  height: 600px;
  padding-top: 3px;


}

.ourrest {
  background-color: #e57f45;
  color: #f0e9da;
  font-family: 'Bebas Neue';
  font-size: 20px;
  width: 215px;
  height: 53px;
  border-top-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border: none;
  cursor: pointer;
}
/* next step */
.ourrest:hover {
  background-color: #E5702E;
}

/* next step */
/* next step */