body {
  background-color: #f0e9d9ff;

  margin: 0;
  padding: 0;
}

header {

  display: flex;
  margin: 0px 260px;
}

.header {
  display: flex;
  padding-left: 90px;
  gap: 70px;
  width: 1905 px;
  height: 155, 54px;
  margin: 0px 70px;
  padding: 10px;
  /* display: flex; */
  /* justify-content: space-evenly; */
  /* align-items: center; */

}



.header-right {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 0px;
  width: 310 px;
  height: 155, 54px;
}

.header-right a:hover {
  color: #e57f45;

}

.headerbutton {


  background-color: #008387;
  color: white;
  font-family: 'Bebas Neue';
  font-size: 20px;
  width: 147px;
  height: 52px;
  border-top-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border: none;

}

.headerbutton:hover {
  background-color: #187978;
}

a {
  position: relative;
  color: #015253ff;
  text-decoration: none;
  font-family: 'Bebas Neue';
  font-size: 20px;
  font-weight: lighter;
}

a:hover {
  text-decoration: underline;
}

nav a::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 3px;
  left: -10px;
  top: 24px;
  background: #015253ff;
}

nav a:hover::before {
  background-color: #e57f45;
}

nav {
  display: flex;
  background-color: #f0e9d9ff;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  gap: 20px;

}

nav a {

  color: #015253ff;
  padding: 14px 16px;
  font-family: 'Bebas Neue';
  font-size: 20px;
  font-weight: lighter;
}

nav a:hover {

  color: #e57f45;
}

span {
  /* padding: 10px; */
}
.backgroundimg
{padding-left: 25px;
}


.intro {
  width: 2033px;
  height: 740;
  margin: 140px 310px;
  display: flex;
  margin-top: -625px;

}



.maintext {
  width: 630px;
  height: 277px;
  /* display: flex; */


}

.maintext2 {
  width: 610px;
  height: 102px;
}


.maintext3 {
  width: 610px;
  height: 93, 33px;
}

h1 {

  font-family: 'Yeseva One', serif;
  font-size: 70px;
  font-weight: 300;
  color: #015253ff
}

.sushipic {
  width: 586x;
  height: 600px;
  padding-top: px;
  padding-right: 0px;

}

h5 {
  color: #6f695d;
  font-size: 24px;
}

.ourrest {
  background-color: #e57f45;
  color: #f0e9da;
  font-family: 'Bebas Neue';
  font-size: 20px;
  width: 215px;
  height: 53px;
  border-top-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border: none;
}